@font-face {
    font-family: "Gilroy";
    font-weight: 900;
    src: url("../font/Gilroy-Bold.otf")
}

@font-face {
    font-family: "Gilroy";
    font-weight: 300;
    src: url("../font/Gilroy-Light.otf")
}

@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    src: url("../font/Gilroy-Medium.otf");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 500;
    src: url("../font/Gilroy-Medium.otf")
}

@font-face {
    font-family: "Gilroy";
    font-weight: 600;
    src: url("../font/Gilroy-Regular.otf")
}

@font-face {
    font-family: "Voyage";
    font-weight: 900;
    src: url("../font/Voyage-Bold.ttf")
}

@font-face {
    font-family: "Deranio";
    font-weight: 600;
    src: url("../font/Deranio.ttf")
}

@font-face {
    font-family: "Yoko Smile";
    font-weight: 600;
    src: url("../font/Yoko Smile Regular.otf")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Gilroy, Voyage, Deranio, Yoko Smile, Glitten, Massillo;
    text-decoration: none;
}

:root {
    --bg-color: #f3f3f3;
    --bg-color-1: #efeff2;
    --box-color: #80858b;
    --bg-box-color: #0956B5;
    --skin-color: #3b4bfc;
    --skin-color1: #00F0EA;
    --skin-color2: #3b4bfc;
    --text-color-50: #000;
    --text-color-100: #252525;
    --text-color-500: #414141;
    --text-color-700: #4c4b4b;
    --text-color-900: #646464;
    --text1-color-50: #fff;
    --text1-color-100: #dfdfdf;
    --text1-color-500: #cbcbcb;
    --text1-color-700: #b7b7b7;
    --text1-color-900: #9d9d9d;
    --text-same-black: #000;
    --text-same-white: #fff;
}

body.dark {
    --bg-color: #121212;
    --bg-color-1: #1b1b1b;
    --box-color: #80858b;
    --bg-box-color: #0956B5;
    --skin-color: #3b4bfc;
    --skin-color2: #515eec;
    --skin-color1: #4bdbd9;
    --text-color-50: #fff;
    --text-color-100: #dfdfdf;
    --text-color-500: #cbcbcb;
    --text-color-700: #b7b7b7;
    --text-color-900: #9d9d9d;
    --text1-color-50: #000;
    --text1-color-100: #252525;
    --text1-color-500: #414141;
    --text1-color-700: #4c4b4b;
    --text1-color-900: #646464;
    --text-same-black: #000;
    --text-same-white: #fff;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    background: var(--bg-color);
}

/* ----------header---------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 2rem 5%;
    /* background: var(--bg-color-1); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo h1 {
    font-size: 3rem;
    color: var(--skin-color);
    font-weight: 600;
    font-family: Gilroy;
}

.navbar {
    margin-left: 4rem;
    display: flex;
    align-items: center;
}

.header .navbar .btn {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid var(--text-color-900);
    border-radius: 6px;
    color: var(--text-color-500);
    font-weight: 400;
    margin-left: 40px;
    transition: .6s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .navbar .btn:hover {
    background: var(--box-color);
    color: var(--text1-color-500);
}

.header .navbar a {
    font-size: 1.5rem;
    color: var(--text-color-700);
    font-family: Gilroy;
    font-weight: 400;
    margin-left: 50px;
}

.header #line::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: var(--text-color-100);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.header #line:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navbar .s-icon {
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 1.8rem;
    background: var(--text1-color-900);
    color: var(--text-color-700);
    cursor: pointer;
    border-radius: 6px;
    margin-left: 50px;
    transition: all .5s ease;
}

.navbar .s-icon i {
    line-height: 40px;
}

/* ----------main-content---------- */
.main-content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

/* ----------home---------- */

.section {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding-top: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.home .home-left {
    flex: 0 0 60%;
    max-width: 60%;
}

.home .home-left .row-box {
    position: relative;
    width: 100%;
    height: 80vh;
}

.home-left .row-box .left-box1 {
    position: absolute;
    bottom: 0;
    width: 30vw;
    height: 55vh;
    border-radius: 6px;
    background-color: var(--skin-color2);
    padding: 25px 100px 25px 25px;
}

.home-left .row-box .left-box1 h4 {
    font-size: 4rem;
    font-family: Deranio;
    font-weight: 600;
    color: var(--text1-color-100);
}

.home-left .row-box .left-box1 p {
    margin-top: 25px;
    margin-bottom: 35px;
    font-size: 1.5rem;
    font-family: Gilroy;
    font-weight: 400;
    color: var(--text1-color-500);
}

.home-left .row-box .left-box1 button {
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    background-color: var(--skin-color1);
    color: var(--text-same-black);
    border-radius: 10px;
}

.home-left .row-box .left-box2 {
    position: relative;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 40%;
    transform: translate(0, -50%);
    width: 25vw;
    height: 50vh;
    border-radius: 6px;
    background-image: url(../images/home-img-2.jpg);
    background-position: center;
    background-size: cover;
}

.home-left .row-box .left-box2 h4 {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-same-white);
    font-family: Yoko Smile;
}

/* -----------Login-Register----------- */

.home .home-right {
    flex: 0 0 30%;
    max-width: 30%;
    margin: auto;
}

.wrapper {
    width: 400px;
    height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .6s, height .3s ease;
    z-index: 2;
    overflow: hidden;
}

.wrapper.active {
    /* height: 520px; */
    height: 550px;
}

.wrapper .form-box.login {
    transition: transform .5s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .5s ease;
    transform: translateX(0);
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box h2 {
    text-align: center;
    font-size: 2.6rem;
    color: var(--text-color-100);
    font-family: Voyage;
    font-weight: 900;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--box-color);
    margin: 30px 0;
}

.wrapper .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-family: Gilroy;
    font-size: 1.6rem;
    color: var(--text-color-500);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.wrapper .input-box input:focus~label,
.wrapper .input-box input:valid~label {
    top: -5px;
}

.wrapper .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-family: Gilroy;
    font-size: 1.2rem;
    color: var(--text-color-700);
    padding: 0 35px 0 5px;
}

.wrapper .input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.6rem;
    color: var(--text-color-700);
    line-height: 57px;
}

.wrapper .remember-forgot {
    color: var(--text-color-900);
    margin: -10px 0 15px;
    display: flex;
    justify-content: space-between;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 1.1rem;
}

.wrapper .remember-forgot label input {
    accent-color: var(--text-color-900);
    margin-right: 3px;
}

.wrapper .remember-forgot a {
    color: var(--text-color-900);
    text-decoration: none;
}

.wrapper .remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: var(--box-color);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.28rem;
    color: var(--text-color-100);
    font-weight: 500;
}

.wrapper .btn:hover {
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    background-color: var(--bg-box-color);
    color: var(--text1-color-100);
}

.wrapper .login-register {
    font-size: 1.2rem;
    color: var(--text-color-700);
    text-align: center;
    font-family: Gilroy;
    font-weight: 500;
    margin: 25px 0 10px;
}

.wrapper .login-register p a {
    color: var(--text-color-900);
    text-decoration: none;
    font-weight: 700;
}

.wrapper .login-register p a:hover {
    text-decoration: underline;
}

.wrapper .login-register {
    margin-bottom: 35px;
}


/* ------------responsive------------ */

@media (max-width:1299px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .home-left .row-box .left-box1 h4 {
        font-size: 3rem;
    }

    .home-left .row-box .left-box1 p {
        margin-top: 15px;
        margin-bottom: 30px;
        font-size: 1.5rem;
    }

    .home-left .row-box .left-box2 {
        width: 35vw;
    }
}

@media (max-width:1199px) {
    .home .home-left {
        flex: 0 0 60%;
        max-width: 60%;
        margin: auto;
    }

    .home .home-right {
        flex: 0 0 40%;
        max-width: 40%;
        margin: auto;
    }

    .home-left .row-box .left-box1 h4 {
        font-size: 2.5rem;
    }

    .home-left .row-box .left-box1 p {
        font-size: 1.2rem;
    }

    .home-left .row-box .left-box2 {
        width: 35vw;
    }
}

@media (max-width:900px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .header {
        padding: 2rem 1rem;
        background: transparent;
        backdrop-filter: blur(20px);
    }

    .logo h1 {
        font-size: 2.5rem;
    }

    .navbar {
        margin-left: 1.5rem;
    }

    .header .navbar .btn {
        width: 80px;
        height: 40px;
    }

    .header .navbar a {
        font-size: 1.3rem;
        margin-left: 50px;
    }

    .navbar .s-icon {
        height: 30px;
        width: 30px;
        font-size: 1.2rem;
    }

    .navbar .s-icon i {
        line-height: 30px;
    }

    .home .home-left {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home-left .row-box .left-box1 {
        width: 50vw;
    }

    .home-left .row-box .left-box1 h4 {
        font-size: 2.8rem;
    }

    .home-left .row-box .left-box1 p {
        font-size: 1.5rem;
    }

    .home-left .row-box .left-box2 {
        width: 45vw;
    }

    .home-left .row-box .left-box2 h4 {
        font-size: 2rem;
    }

    .home .home-right {
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        margin-top: 40px;
    }

}

@media (max-width:700px) {

    .home-left .row-box .left-box1 h4 {
        font-size: 2.5rem;
    }

    .home-left .row-box .left-box1 p {
        font-size: 1.2rem;
    }

}

@media (max-width:600px) {
    .header {
        padding: 2rem 2rem;
        background: transparent;
        backdrop-filter: blur(20px);
    }

    .logo h1 {
        font-size: 2rem;
    }

    .header .navbar .btn {
        width: 60px;
        height: 40px;
    }

    .header .navbar a {
        font-size: 1.3rem;
        margin-left: 20px;
    }

    .navbar .s-icon {
        margin-left: 20px;
    }

    .home-left .row-box .left-box1 {
        padding: 25px 50px 25px 10px;
    }

    .home-left .row-box .left-box2 h4 {
        font-size: 1.5rem;
    }

}

@media (max-width:470px) {
    .home-left .row-box .left-box1 p {
        font-size: 1.2rem;
    }
    .wrapper .form-box h2 {
        margin-bottom: 40px;
    }

    .wrapper .btn {
        font-size: 1.2rem;
    }
    
    
}

@media (max-width:414px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .logo h1 {
        font-size: 1.2rem;
    }

    .navbar {
        margin-left: .9rem;
    }

    .header .navbar .btn {
        width: 65px;
        height: 35px;
    }

    .header .navbar a {
        font-size: 1rem;
    }

    .navbar .s-icon {
        font-size: 1rem;
    }
    .home-left .row-box .left-box1 h4 {
        font-size: 2rem;
    }
    .home-left .row-box .left-box1 p {
        font-size: 1.15rem;
    }

    .home-left .row-box .left-box1 button {
        font-size: .8rem;
    }

    .home-left .row-box .left-box2 h4 {
        font-size: 1.2rem;
    }

    .wrapper .form-box h2 {
        font-size: 2rem;
    }
    
    .wrapper .input-box label {
        font-size: 1.3rem;
    }
    .wrapper .input-box input {
        font-size: 1rem;
    }

    .wrapper .input-box .icon {
        font-size: 1.1rem;
    }
    .wrapper .remember-forgot {
        margin: -10px 0 20px;
        font-size: .9rem;
    }
    .wrapper .login-register {
        font-size: 1rem;
        margin: 25px 0 25px;
    }    

}
