@font-face{
    font-family:"Gilroy";
    font-weight: 700;
    src: url("../font/Gilroy-Regular.otf")
}
@font-face{
    font-family:"Gilroy";
    font-weight: 400;
    src: url("../font/Gilroy-Light.otf")
}
@font-face {
    font-family: "Gilroy";
    font-weight: 500;
    src: url("../font/Gilroy-Medium.otf");
}
@font-face{
    font-family:"Gilroy";
    font-weight: 600;
    src: url("../font/Gilroy-Medium.otf")
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Gilroy;
    text-decoration: none;
}

:root {
    --bg-color: #f3f3f3;
    --bg-color-1: #efeff2;
    --box-color: #80858b;
    --bg-box-color: #0956B5;
    --skin-color: #3b4bfc;
    --skin-color1: #00F0EA;
    --skin-color2: #3b4bfc;
    --text-color-50: #000;
    --text-color-100: #252525;
    --text-color-500: #414141;
    --text-color-700: #4c4b4b;
    --text-color-900: #646464;
    --text1-color-50: #fff;
    --text1-color-100: #dfdfdf;
    --text1-color-500: #cbcbcb;
    --text1-color-700: #b7b7b7;
    --text1-color-900: #9d9d9d;
    --text-same-black: #000;
    --text-same-white: #fff;

}

body.dark {
    --bg-color: #121212;
    --bg-color-1: #1b1b1b;
    --box-color: #80858b;
    --bg-box-color: #0956B5;
    --skin-color: #3b4bfc;
    --skin-color2: #515eec;
    --skin-color1: #4bdbd9;
    --text-color-50: #fff;
    --text-color-100: #dfdfdf;
    --text-color-500: #cbcbcb;
    --text-color-700: #b7b7b7;
    --text-color-900: #9d9d9d;
    --text1-color-50: #000;
    --text1-color-100: #252525;
    --text1-color-500: #414141;
    --text1-color-700: #4c4b4b;
    --text1-color-900: #646464;
    --text-same-black: #000;
    --text-same-white: #fff;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    background: var(--bg-color);
}

/* ----------header---------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 2rem 5%;
    /* background: var(--bg-color-1); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo h1 {
    font-size: 3rem;
    color: var(--skin-color);
    font-family: Gilroy;
    font-weight: 600;
}

.navbar {
    margin-left: 4rem;
    display: flex;
    align-items: center;
}

.header .navbar a {
    font-size: 1.5rem;
    color: var(--text-color-700);
    font-family: Gilroy;
    font-weight: 400;
    margin-left: 50px;
    cursor: pointer;
}

.header #line::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: var(--text-color-100);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.header #line:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navbar .nav-img {
    margin-left: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.nav-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-img .img {
    width: 100%;
    height: 100%;
    background-image: url(../images/nav-image.jpg);
    background-position: center;
    background-size: cover;
}

/* ----------toggle---------- */
.nav-toggle {
    text-align: left;
    position: fixed;
    right: 30px;
    top: 10%;
    background-color: var(--text1-color-900);
    z-index: 100;
    border-radius: 6px;
    padding: 8px 20px;
    /* display: none; */
    transition: transform .5s, height .8s ease;
    transform: scale(0);
}

.active-toggle {
    /* display: block; */
    transform: scale(1);
}

.nav-toggle h4 {
    margin-bottom: 10px;
    font-size: 2rem;
    font-family: Gilroy;
    font-weight: 600;
    color: var(--text-color-500);
}

.nav-toggle a {
    font-size: 1.5rem;
    color: var(--text-color-900);
    font-family: Gilroy;
    font-weight: 400;
}

.nav-toggle a:hover {
    text-decoration: underline;
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .4s;
}

.nav-toggle .s-icon {
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 1.8rem;
    background: var(--text1-color-700);
    color: var(--text-color-700);
    cursor: pointer;
    border-radius: 6px;
    transition: all .5s ease;
    margin-top: 15px;
}

.nav-toggle .s-icon i {
    line-height: 40px;
}

/* ----------main-content---------- */
.main-content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

/* ----------Join---------- */

.section {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.container {
    max-width: 1350px;
    width: 100%;
    padding-top: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    margin-top: 75px;
    width: 50%;
    height: 60vh;
    padding: 10px 60px;
}

.content {
    width: 100%;
    display: none;
    padding-left: 40px;
    padding-right: 40px;
}

.row .content h2 {
    margin-bottom: 60px;
    font-size: 4rem;
    font-family: Gilroy;
    font-weight: 600;
    color: var(--text-color-500);
    text-align: center;
}

.row .content .form-box {
    width: 100%;
}

.row .content .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--box-color);
    margin: 30px 0;
}

.row .content .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-family: Gilroy;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--text-color-500);
    pointer-events: none;
    transition: .5s;
}

.row .content .input-box input:focus~label,
.row .content .input-box input:valid~label {
    top: -10px;
}

.row .content .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    font-family: Gilroy;
    font-size: 1.2rem;
    color: var(--text-color-700);
    padding: 0 35px 0 5px;
}

.row .content .btn {
    margin-top: 20px;
    width: 100%;
    height: 45px;
    background: var(--box-color);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.28rem;
    color: var(--text-color-100);
    font-weight: 500;
}

.row .content .btn:hover {
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    background-color: var(--bg-box-color);
    color: var(--text1-color-100);
}
.row .active-tab {
    display: block;
}


/* ------------responsive------------ */

@media (max-width:1199px){
    .row {
        padding: 10px 0px;
    }
}
@media (max-width:999px){
    .row{
        width: 60%;
    }
    .row .content h2 {
        font-size: 3rem;
    }
    .row .content .input-box label {
        font-size: 1.5rem;
    }
    .row .content .input-box input {
        font-size: 1.1rem;
    }
}
@media (max-width:700px){
    .row{
        width: 70%;
    }
}
@media (max-width:600px){
    .logo h1 {
        font-size: 2rem;
    }
    .navbar {
        margin-left: 1.5rem;
    }
    .header .navbar a {
        font-size: 1.3rem;
        margin-left: 20px;
    }
    .navbar .nav-img {
        margin-left: 20px;
        width: 40px;
        height: 40px;
    }

    .nav-toggle {
        right: 10px;
        top: 10%;
    }
    .nav-toggle h4 {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }
    .nav-toggle a {
        font-size: 1.3rem;
    }
    .nav-toggle .s-icon {
        height: 30px;
        width: 30px;
        font-size: 1.1rem;
        margin-top: 10px;
    }
    .nav-toggle .s-icon i {
        line-height: 30px;
    }
    .row {
        width: 90%;
    }
    .row .content .input-box label {
        font-size: 2rem;
    }
    .row .content .input-box input {
        font-size: 1.2rem;
    }
}


@media (max-width:470px) {
    .row .content .input-box label {
        font-size: 1.5rem;
    }   
    .nav-toggle {
        right: 10px;
        top: 7.5%;
    }
}


@media (max-width:414px){
    .logo h1 {
        font-size: 1.2rem;
    }
    .navbar {
        margin-left: 1rem;
    }
    .header .navbar a {
        font-size: 1rem;
    }
    .row .content h2 {
        font-size: 2rem;
    }
    .row .content .input-box label {
        font-size: 1.2rem;
    }
    .row .content .input-box input {
        font-size: 1rem;
    }
}